.content {
    flex: 1;
    min-width: 1200px;
    max-width: 1400px;
    margin: 0 40px 0 20px;
    position: relative;
    padding-top: 70px;

    &.ts {
        margin: 0 auto;
        align-content: space-between;
        border-radius: 6px;
        min-width: none;
        max-width: none;
        flex-wrap: wrap;
        background: url('../../assets/images/yellowbg.webp') no-repeat 0 100%/622px auto #fbfaf8;

    }

    &_txt {
        flex-basis: 100%;
        // height: 600px;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        color: #fff;
        text-align: center;
        background-image: linear-gradient(168deg, #F4F8F9, #EEF2F5);

        img {
            min-width: 1400px;
            max-width: 1600px;
            height: 520px;
        }

        span {
            flex-basis: 100%;
            font-size: 40px;
            font-weight: bold;
        }
    }

    &_img {
        width: 1200px;
        border-radius: 5px;
        overflow: hidden;
        margin: -50px auto 20px auto;
        box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%);

        :deep.ant-carousel {
            width: 100%;
            height: 100%;
            text-align: center;
            border-radius: 5px;

            .slick {

                &-slider,
                &-list,
                &-track,
                &-slide {
                    height: 100%;

                    div {
                        height: 100%;
                    }
                }
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        }
    }

    &_box {
        display: flex;
        position: relative;
        width: 100%;
        height: 100%;
        justify-content: space-between;
        margin: 10px 0 0 0;

        &.ts {
            margin: 0 auto;
            width: 1200px;
        }

        &_mid,
        &_lt,
        &_rt {
            background-color: #fff;
            position: relative;
            border-radius: 6px;
            box-shadow: 0 0 20px 0 rgb(55 99 170 / 10%), -8px -8px 20px 0 #fff;
        }

        &_mid {
            width: 100%;
            margin-bottom: 40px;
        }

        &_lt {
            position: absolute;
            left: 20px;
            top: 20px;
            width: 210px;
            z-index: 998;
            padding-top: 10px;

            &:before {
                content: '';
                position: absolute;
                left: -10px;
                right: -10px;
                top: 0;
                height: 15px;
                background-color: #373750;
                border-radius: 8px;
                border: 2px solid #373750;
            }

            &.white {
                padding: 0;

                &:before {
                    display: none;
                }
            }
        }

        &_rt {
            flex: 1;
            padding-top: 30px;
            margin: 20px 0 20px 250px;
        }
    }
}

.footer {
    background-color: #303133;
    line-height: 60px;
    height: 60px;
    text-align: center;
    font-size: 12px;
    color: #777;
    flex-basis: 100%;
}

.ant-back-top {
    right: 20px;
    bottom: 70px;
}