@font-face {
  font-family: "iconfont"; /* Project id 3348143 */
  src: url('iconfont.woff2?t=1675310131984') format('woff2'),
       url('iconfont.woff?t=1675310131984') format('woff'),
       url('iconfont.ttf?t=1675310131984') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wanshanshuju:before {
  content: "\e683";
}

.icon-tuijian:before {
  content: "\e629";
}

.icon-tengxunshimingrenzheng:before {
  content: "\e611";
}

.icon-dengdai:before {
  content: "\e68d";
}

.icon-yanshoujijiesuanguanli:before {
  content: "\e62d";
}

.icon-shenhebutongguo:before {
  content: "\e60b";
}

.icon-shenfenrenzheng:before {
  content: "\e608";
}

.icon-yirenzheng:before {
  content: "\e652";
}

.icon-renzheng:before {
  content: "\ff5b";
}

.icon-zhanghaoxinxi:before {
  content: "\e668";
}

.icon-shenhe:before {
  content: "\e69a";
}

.icon-shimingrenzheng:before {
  content: "\e626";
}

.icon-shimingrenzheng1:before {
  content: "\e607";
}

.icon-a-anquanzhongxindunpai:before {
  content: "\e642";
}

.icon-douyin:before {
  content: "\e8db";
}

.icon-pay-jingdong:before {
  content: "\e8dd";
}

.icon-qian-copy-copy:before {
  content: "\e60d";
}

.icon-renwuguanli:before {
  content: "\e605";
}

.icon-shoufeixiangmu-xiangmuicon:before {
  content: "\e614";
}

.icon-xiangmu:before {
  content: "\e60a";
}

.icon-renwubanli1:before {
  content: "\e61e";
}

.icon-jiesuan:before {
  content: "\e610";
}

.icon-yinxingqia:before {
  content: "\e61c";
}

.icon-zizhi:before {
  content: "\e6b3";
}

.icon-dengji:before {
  content: "\e636";
}

.icon-xiaolian2:before {
  content: "\ec80";
}

.icon-zhanghaozhongxinzhanghaoguanli:before {
  content: "\e6a0";
}

.icon-yonghu:before {
  content: "\e604";
}

.icon-qiyeweixin1:before {
  content: "\e603";
}

.icon-qiyeweixin:before {
  content: "\e618";
}

.icon-tixianzhanghaoshezhi:before {
  content: "\e695";
}

