@import "./reset.less";
::-webkit-scrollbar {
    height: 8px;
    width: 8px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 2px;
    display: none;
}

::-webkit-scrollbar-thumb {
    width: 8px;
    min-height: 15px;
    background: rgba(50,50,50,0.3) !important;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 2px;
}
.content {
    .ant {
        &-modal-body {
            padding: 10px 30px;
            .ant-rate {
                margin-bottom: 12px;
            }
        }
        &-page {
            &-header {
                padding: 0 0 10px 0;
            }
        }
        &-form {
            flex-basis: 100%;
            &-item {
                flex-basis: 100%;
                margin: 11px 0;
                &-label {
                    width: 130px;
                    label {
                        height: 100%;
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .pagination {
        display: flex;
        justify-content: flex-end;
       padding: 20px 40px; 
    }
}