.proj {

    &_title {
        width: calc(100% - 60px);
        position: relative;
        font-size: 24px;
        padding: 15px 0;
        margin: 40px 30px 15px 30px;
        font-weight: bold;
        border-bottom: 1px #D7D7D7 solid;
        color: #4b4b4b;

        span {
            cursor: pointer;
            font-size: 18px;
            color: #1890ff;
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
        }
    }

    &_box {
        display: flex;
        padding: 20px 60px;
        flex-wrap: wrap;
        &_empty {
            justify-content: center;
        }
        &_div {
            flex-basis: 33.3%;
            padding: 10px;
            margin-bottom: 20px;
            position: relative;
        }

        &_card {
            border-radius: 6px;
            position: relative;
            transition: all .3s linear;
            position: relative;
            z-index: 3;
            background-size: cover;
            // border: 2px solid #fff;
            box-shadow: 8px 8px 20px 0 rgb(55 99 170 / 10%);
        }
    }

    &_p {
        margin: 8px 0;
        color: #595757;
        font-size: 14px;

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5) {
            span {
                display: inline-block;
                color: #989898;
                margin-right: 15px;
                text-align: right;
                width: 70px;
            }
        }
    }

    &_txt {
        padding: 10px 20px;
        position: relative;
        z-index: 5;
        border-top: 2px solid #fff;
        background: linear-gradient(-223deg, #d7d7d794  0%, #e1e1e13b 100%), url(../../assets/images/proj_bg3.jpg) no-repeat 0 0;
        background-size: contain;
        transition: all .5s linear;
        cursor: pointer;
    }

    &_desc {
        position: relative;
        border-radius: 6px 6px 0 0;
        z-index: 3;
        font-size: 14px;
        color: #f7b234;
        font-weight: 600;
        line-height: 26px;
        padding: 6px 20px;
        display: flex;
        justify-content: space-between;
        // background: linear-gradient(-223deg, #1890ff, #0063bf);
        background: linear-gradient(-223deg, #262626, #808080);
        background-size: cover;
        span {
            color: #fff;
            font-weight: bold;
        }
    }
    &_btn {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 5px 5px 5px 20px;
        border-radius: 0 0 5px 5px;
        border-top: 1px solid #26262621;
        border-bottom: 1px solid #26262621;
        i {
            font-style: normal;
            color: #909399;
            font-size: 12px;
        }
        span {
            cursor: pointer;
            display: inline-block;
            padding: 3px 26px;
            border-radius: 3px;
            background-color: #fff;
            transition: all .3s linear;
            &:hover {
                background: linear-gradient(90deg,#f7b234 50%,#f7b234 150%);
                // border-color: #f56c6c45;
                color: #fff;
            }
        }
        
    }
}