.proj {

    &_title {
        width: calc(100% - 60px);
        position: relative;
        font-size: 24px;
        padding: 15px 0;
        margin: 40px 30px 15px 30px;
        font-weight: bold;
        border-bottom: 1px #D7D7D7 solid;
        color: #4b4b4b;

        span {
            cursor: pointer;
            font-size: 18px;
            color: #1890ff;
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
        }
    }

    &_box {
        display: flex;
        padding: 20px 60px;
        flex-wrap: wrap;

        &_div {
            flex-basis: 33.3%;
            padding: 10px;
            margin-bottom: 20px;
            position: relative;
        }

        &_card {
            border-radius: 6px;
            transition: all .5s linear;
            cursor: pointer;
            position: relative;
            transition: all .5s linear;
            position: relative;
            z-index: 3;
            background-size: cover;
            border: 2px solid #fff;
            box-shadow: 8px 8px 20px 0 rgb(55 99 170 / 15%);
            &:hover {
                box-shadow: 0px 0px 24px #5e5e5e;
                &:before {
                    background-image: url(../../assets/images/red.png);
                }
            }

            &:before {
                content: '';
                position: absolute;
                box-sizing: border-box;
                width: 25%;
                height: 20px;
                top: -2px;
                left: 0;
                background: url(../../assets/images/blue.png) no-repeat 0 0;
                background-size: contain;
            }

        }
    }

    &_p {
        margin: 8px 0;
        color: #766f6f;

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5) {
            font-size: 16px;

            span {
                color: #989898;
            }
        }
    }

    &_txt {
        padding: 10px 20px;
        border-radius: 0 0 10px 10px;
        position: relative;
        z-index: 5;
        border-top: 2px solid #fff;
        background: linear-gradient(-223deg, #fbfbfb85  0%, #e1e1e13b 100%), url(../../assets/images/proj_bg3.jpg) no-repeat 0 0;
        background-size: contain;
        transition: all .5s linear;
    }

    &_desc {
        position: relative;
        border-radius: 10px 10px 0 0;
        z-index: 3;
        border-top: 2px solid #fff;
        backdrop-filter: blur(14px);
        background: url(../../assets/images/proj_txt_left.png) no-repeat 0/90px auto, url(../../assets/images/proj_txt_right.png) no-repeat 100%/90px auto;
        text-align: center;
        font-size: 16px;
        color: #2c2c2c;
        line-height: 26px;
        padding: 6px;
    }
}