.user {
    display: flex;
    justify-content: space-around;

    &_img {
        flex-basis: 32%;
        text-align: center;
        line-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;

        img {
            width: 95%;
            height: 95%;
        }
    }

    &_box {
        flex-basis: 70%;

        &_item {
            width: 100%;
            font-size: 16px;
            line-height: 26px;
            padding: 3px 16px 3px 0;
            display: flex;
            flex-wrap: nowrap;
            align-items: flex-start;
            justify-content: flex-start;
            margin-bottom: 0px;
            background-color: #f9f9f9ab;
            border-radius: 4px;
            margin-bottom: 5px;

            .label {
                width: 100px;
                text-align: right;
                color: #909399;
                margin-right: 12px;
                line-height: 32px;

                .anticon {
                    margin-right: 2px;
                }

            }

            .cnt {
                flex: 1;
                color: #303133;
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-between;
                line-height: 32px;

                input {
                    width: calc(100% - 80px) !important;
                }

            }

            .bind {
                color: red;
            }

            i {
                font-style: normal;
                margin-left: 20px;
                color: #1890ff;
                cursor: pointer;

                .iconfont {
                    width: auto !important;
                }
            }
        }
    }

}

.erweima {
    transition: all 1s linear;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    background-image: linear-gradient(to right, #ff0b95, #ffa22f);
    object-fit: cover;
    height: 80px;
    flex-basis: 100%;
    object-fit: cover;
    margin-bottom: 20px;

    img {
        &:nth-child(1) {
            width: 140px;
        }

        &:nth-child(2) {
            width: 160px;
        }
    }

    &-form {
        width: 100%;
    }

    &-btn {
        flex-basis: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.zizhi {
    padding: 10px 0;
    background-color: #f5f5f56e;

    h2 {
        font-size: 16px;
        line-height: 36px;
        color: #606266;
        padding-left: 10px;
        margin-bottom: 15px;

        span {
            margin: 0 5px;
            color: red;
        }
    }

    &-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-basis: 100%;

        .ant-btn {
            margin: 0 10px;
        }
    }
}

:deep .ant {
    &-upload-picture-card-wrapper {
        &.uploader-user {
            .ant-upload {
                border-radius: 50%;
                margin: 0;
                padding: 0;

                &-select {
                    border: 1px dashed #ff5c5c;
                    width: 160px;
                    height: 160px;
                }

                img {
                    border-radius: 50%;
                }
            }
        }
    }

    &-tag {
        .iconfont {
            margin-right: 3px;
        }
        span {
            &:before {
                vertical-align: middle;
            }
        }
    }

    &-form {
        &-div {
            flex-basis: 48%;
        }

        &-item {
            margin-bottom: 22px;

            &-label label {
                font-size: 16px;
            }

            &-explain-connected {
                position: absolute !important;
                bottom: -24px;
                font-size: 12px;
            }
        }
    }

    &-upload {
        &-drag {
            padding: 0 !important;
        }

        &-text {
            font-size: 12px !important;
            color: #909399 !important;
        }
    }

    &-btn {
        button {
            margin: 0 10px;
        }
    }

    &-drawer {
        &-body {
            display: grid;
        }
    }

    &-modal {
        &-body {
            padding: 20px 40px;
        }
    }

    &-input {
        background-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;
        border-top-color: transparent;
        box-shadow: none;
    }
    &-tag {
        flex-basis: 46%;
        margin-right: 0!important;
        margin-bottom: 8px;
        position: relative;
        padding: 3px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:nth-child(odd) {
            margin-right: 4%!important;
        }
        .txt {
            font-size: 14px;
        }
        .mst {
            padding-left: 10px;
            // &:before {
            //     content: '';
            //     width: 15px;
            //     height: 15px;
            //     background: url(../../../assets/images/mstlogo.png) no-repeat 0 0;
            //     background-size: contain;
            //     position: absolute;
            //     left: 10px;
            //     top: 50%;
            //     transform: translateY(-50%);
            // }
        }
    }
    &-collapse {
        &-item {
            &-disabled {
                .label {
                    color: #909399!important;
                }
                .cnt {
                    color: #909399!important;
                }
            }
        }
        &-extra {
            cursor: pointer;
            color: #1890ff;
            font-size: 18px;
        }
        &-content {
            &-box {
                padding: 20px;
                display: flex;
                flex-wrap: wrap;
            }
        }
        &-header {
            padding: 7px 16px !important;
            margin-bottom: 5px;
            background-color: #f9f9f9ab;

            .label {
                display: inline-block;
                width: 60px;
                text-align: right;
                font-size: 16px;
                color: #909399;
                margin-right: 12px;
                .anticon {
                    margin-right: 2px;
                }
            }

            .cnt {
                font-size: 16px;
                color: #303133;
            }
        }
    }
}