$baseFontsize: 14px;

.planTabs {
    padding-top: 20px;
    margin: 0 60px;

    :deep .ant-tabs {
        &-tab {
            font-size: 16px;

        }

        &-nav-wrap {
            padding: 0 20px;
            border-top: 1px solid #ff0000;
            background-color: #fff2ee;
        }
    }
}

.planBox {
    padding: 10px 0;
    border: 1px solid transparent;
    margin: 0 60px 40px 60px;
    border-radius: 6px;
    font-size: $baseFontsize;
    transition: all .4s linear;
    cursor: pointer;

    &_title {
        display: flex;
        flex-wrap: nowrap;

        p {
            margin: 0 40px;
            padding: 8px 0;

            span {
                &:nth-child(1) {
                    color: #606266;
                }
            }
        }
    }

    &_info {
        display: flex;
        justify-content: space-between;
        line-height: 26px;
        position: relative;
        background-color: #f5f5f586;
        background: linear-gradient(180deg, #fff 50%, #f5f5f5 150%);

        &:before {
            content: '';
            width: 3px;
            height: 0;
            background-color: #fff;
            position: absolute;
            transition: all .3s linear;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }

        &:hover {
            &:before {
                width: 3px;
                height: 112px;
                top: 0;
                bottom: 0;
                transform: none;
            }
        }

        &.dsh {
            &:before {
                background: linear-gradient(150deg, #8896b3 50%, #fff 150%);
            }
        }

        &.dqd {
            &:before {
                background: linear-gradient(150deg, #e6a23c 50%, #fff 150%);
            }
        }

        &.jxz {
            &:before {
                background: linear-gradient(150deg, #5cbb7a 50%, #fff 150%);
            }
        }

        &.dqr {
            &:before {
                background: linear-gradient(150deg, #f56c6c 50%, #fff 150%);
            }
        }

        &.ywc {
            &:before {
                background: linear-gradient(150deg, #40a0ff 50%, #fff 150%);
            }
        }

        &.yqx {
            &:before {
                background: linear-gradient(150deg, #c0c4cc 50%, #fff 150%);
            }
        }

        div {
            flex-basis: 20%;
            padding: 20px 8px;
            box-sizing: border-box;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
            span {
                text-align: center;
                flex-basis: 100%;

                &.label {
                    font-size: 12px;
                    color: #606266;
                }

                &.mny {
                    color: #f32e2e;
                }

                &.sts {
                    flex-basis: 60%;
                    border-radius: 3px;
                    padding: 2px 10px;
                    color: #fff;
                }

                &.dsh {
                    background: linear-gradient(150deg, #8896b3 50%, #fff 150%);
                }
                &.shz {
                    background: linear-gradient(150deg, #8896b3 50%, #fff 150%);
                }

                &.dqd {
                    background: linear-gradient(150deg, #e6a23c 50%, #fff 150%);
                }

                &.jxz {
                    background: linear-gradient(150deg, #5cbb7a 50%, #fff 150%);
                }

                &.dqr {
                    background: linear-gradient(150deg, #2bbccd 50%, #fff 150%);
                }
                &.dtg {
                    background: linear-gradient(150deg, #aa6cf5 50%, #fff 150%);
                }

                &.ywc {
                    background: linear-gradient(150deg, #40a0ff 50%, #fff 150%);
                }

                &.yqx {
                    background: linear-gradient(150deg, #c0c4cc 50%, #fff 150%);
                }
                &.ybh {
                    background: linear-gradient(150deg, #ff4d4f 50%, #fff 150%);
                }
                // color: #ff4d4f;
                // background: #f6dede;
                // border-color: #ee8385;
            }

        }

        &_btn {
            min-height: 112px;

            span {
                margin: 5px 0;
                cursor: pointer;
                color: #1890ff;

                &:hover {
                    color: #056ac8;
                }
            }
        }
    }
}

.ant-rate {
    margin-bottom: 20px;
}