.projBox {
   &_div {
      padding: 10px;
   }
}

.searchIpt {

   padding: 20px 60px 0 0;
   box-sizing: border-box;

   :deep .ant {
      &-form {
         width: 100%;
         display: flex;
         &-item {
            flex-basis: 40%!important;
            margin: 0;
   
            &:last-child {
               flex-basis: 20%!important;
               text-align: right;
            }
         }
      }
      &-btn {
         margin-left: 5px;
      }
   }
}