.projBox {
   &_div {
      padding: 10px;
   }

}

.searchIpt {

   padding: 20px 70px 0 0;
   box-sizing: border-box;

   :deep .ant-form {
      width: 100%;
      display: flex;
      &-item {
         flex-basis: 45%!important;
         margin: 0;

         &:last-child {
            flex-basis: 10%!important;
            text-align: right;
         }
      }
   }
}