$headerTheme: #fff;

.header {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    right: 0;
    height: 70px;
    display: flex;
    justify-content: center;

    &.ts {
        background-color: #1a1a2a;
        // background: url(../../assets/images/imghome.png) no-repeat center center;
    }
}

.headerBox {
    min-width: 1200px;
    max-width: 1400px;
    padding: 0 20px;
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    font-size: 16px;
    color: #fff;
    background: #1a1a2a url(../../assets/images/imghome.png) no-repeat 50%;
    background-size: cover;


    &_img {
        height: 40%;
        text-align: center;
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        align-items: center;

        img {
            width: 100px;
            margin-right: 50px;
        }
    }

    &_search {
        display: flex;
        flex-wrap: nowrap;

        &_txt {
            cursor: pointer;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            font-size: 16px;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin-right: 80px;

            :deep svg {
                width: 20px;
                height: 20px;
                margin-right: 10px;
                color: #fff;
            }

            p {
                margin: 0;
            }
        }
    }

    &_user {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        box-sizing: border-box;

        img {
            width: 45px;
            height: 45px;
            padding: 2px;
            border-radius: 50%;
            margin-right: 8px;
            border: 1px solid #fff;
            cursor: pointer;
        }
        .loin {
            cursor: pointer;
        }
    }

    &_user {
        padding: 5px 10px;
    }
}

.headerBox {
    :deep .ant {
        &-badge {
            margin-right: 20px;

            sup {
                height: 16px;
                line-height: 16px;
            }
        }

        &-input {
            font-size: 16px;
            background-color: transparent;
            border: none;
            border-bottom: 1px solid #c7c7c7;
            color: #fff;
            width: 100px;

            &:focus {
                width: 200px;
                box-shadow: none;
            }
        }

        &-menu {
            user-select: none;
            width: 200px;
            font-size: 22px;
            background-color: transparent;
            border: none;
            justify-content: center;

            &-item {
                color: rgb(221, 220, 220);
                font-size: 22px;
                transition: font-size .4s linear;

                &-selected,
                &-active,
                &:hover {
                    color: #ff5c5c !important;
                    font-weight: bold;
                    background-color: transparent;

                    &:after {
                        border-color: $headerTheme;
                    }
                }

                &-selected {
                    font-size: 22px;
                }
            }

            &-submenu {
                font-size: 22px;
                transition: font-size .4s linear;
                font-weight: bold;

                &-selected,
                &-active,
                &-open,
                &:hover {
                    &:after {
                        border-color: $headerTheme;
                    }
                }

                &-selected {
                    .ant-menu-title-content {
                        font-size: 22px;
                        color: #ff5c5c !important;
                    }
                }
            }

            &-light {}

            &-submenu {
                &-title {
                    color: #fff;

                    &:active,
                    &:hover {
                        color: $headerTheme;
                        background-color: transparent;
                    }
                }
            }
        }
    }
}