.sideMenu {
    position: relative;
    min-height: 530px;
    width: 210px !important;
    background-color: #fff;

    // background-image: -webkit-linear-gradient(top,rgb(149, 149, 149), rgb(212, 212, 212), #fff);
    :deep .ant-menu {
        position: relative;
        z-index: 5;
        height: calc(100% - 80px);
        box-sizing: border-box;
        border: none;

        &-item {
            &-selected {
                .ant-menu-title-content {
                    color: #1890ff;

                }
                &:after {
                    border-color: #1890ff;
                }
            }
        }

        &-title {
            &-content {
                font-size: 16px;
                color: #40485b;

                span:before {
                    color: #909d9d;
                    margin-right: 12px;
                }
            }
        }

        &-light {
            padding-top: 40px;

        }
    }

    &:before,
    &:after {
        content: '';
        border-bottom: 15px dotted #fff;
        position: absolute;
        bottom: -6px;
        height: 0;
    }

    &:before {
        left: 0;
        right: 15px;
    }

    &:after {
        left: 15px;
        right: 0;
    }
}