.personBox {
    background-color: transparent;
    padding: 0;

    // padding-top: 10px;
    .fl100 {
        flex-basis: 88%;
    }

    .userBox {
        display: flex;
        justify-content: center;
        background: url(../../assets/images/userheader.png) no-repeat 0 0;
        background-size: cover;

        &_outer {
            flex-basis: 88%;
            flex-wrap: nowrap;
            display: flex;
        }

        .avatar {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin-right: 40px;
            background-color: #fff;
            padding: 2px;
            border: 1px dashed #f85032;
        }

        &_rt {
            flex: 1;
            display: flex;
            flex-wrap: wrap;
            align-content: space-between;
            // padding: 10px 0;

            &_tp {
                font-size: 16px;
                font-weight: bold;
                color: #6d6c6c;
            }

            &_btm {

                flex-basis: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .icon {
                    // display: flex;
                    // align-items: center;

                    div {
                        width: 50px;
                        height: 50px;
                        background-color: #eee;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 3px;
                        margin-right: 20px;

                        img {
                            width: 80%;
                            height: 80%;
                            margin: 0;
                        }
                    }
                }

                .title {
                    flex: 1;
                    padding: 10px 30px;
                    background: linear-gradient(270deg, #f8c883, #fae8d0);
                    border-radius: 30px;
                }

                .tpIcon {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }

    .userBox,
    .tabBox,
    .descBox,
    .tipBox,
    .tagBox {
        background-color: #fff;
        padding: 20px 60px;
        margin-bottom: 10px;
    }

    .tagBox {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        padding: 20px 40px;
        border-radius: 8px 8px 0 0;
        margin: 0;

        div {
            &:nth-child(1) {
                width: 80%;
            }

            &:nth-child(2) {
                width: 5%;
            }

            .ant-tag {
                padding: 7px 10px;
                font-size: 14px;
                cursor: pointer;
            }
        }
    }

    .tipBox {
        padding: 0;
        line-height: 24px;
        padding: 10px;
        background-color: #fff2ee;
        border-top: 1px solid #fa4b42;

        p {
            padding: 0 30px;
            color: #606266;
        }

        p:first-child {
            position: relative;
            padding-left: 30px;
            margin-bottom: 5px;
            font-weight: bold;

            // border-bottom: 1px solid #e1e9f4;
            &:before,
            &:after {
                content: '';
                width: 0;
                height: 0;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                border-left: 14px solid #ff532b;
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
            }

            &:before {
                left: 8px;
                z-index: 2;
            }

            &:after {
                left: 14px;
                opacity: .4;
            }
        }
    }

    .descBox {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        border-radius: 0 0 8px 8px;

        .nodatadiv {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            img {
                width: 50%;
                padding: 20px;
            }

            div {
                flex-basis: 100%;
                text-align: center;
                color: #909399;
            }

            &.ts {
                font-weight: bold;

                div:hover {
                    cursor: pointer;
                    color: #1890ff;
                }
            }
        }

        .ant {
            &-descriptions {
                // margin: 0 auto;
                flex-basis: 88%;
            }
        }

        &_title {
            flex-basis: 88%;
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 20px;
            line-height: 40px;
            position: relative;

            &:after {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                display: inline-block;
                width: 40px;
                height: 5px;
                background-color: #ff532b;
                border-radius: 5px;
            }
        }
    }

    .tabBox {
        padding: 0;
        // background-color: #f4f4f4;
        height: 60px;
        overflow: visible;

        :deep .ant-tabs {
            &-nav-list {
                height: 60px;
            }

            &-ink-bar {
                display: none;
            }

            &-nav-wrap {
                overflow: visible;
            }

            &-tab {
                margin: 0;
                padding: 20px 40px;
                height: 60px;

                &:hover {
                    color: #ff532b;
                }

                &-active {
                    border-radius: 3px;
                    height: 70px;
                    background: url(../../assets/images/tabbg.png) no-repeat;
                    background-size: contain;
                    background-color: #f85032;
                    position: relative;
                    top: -10px;

                    .ant-tabs-tab-btn {
                        color: #fff;
                        font-weight: bold;
                    }

                }
            }

            &-nav {
                margin: 0;
            }
        }
    }

    .setpBox {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px 60px;
        background-color: #fff;
        border-radius: 8px 8px 0 0;

        :deep .ant-steps {
            flex-basis: 88%;
            padding: 20px 0;

            &-icon {
                display: flex;
                align-content: center;

                span:before {
                    font-size: 26px;
                }
            }
        }
    }

    .sfBox {
        flex-basis: 88%;
        display: flex;

        &_img {
            flex-basis: 30%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            background-color: #f8f8f8;
            border-radius: 4px;
            padding: 20px;
            margin-right: 20px;

            // width: 200px;
            // height: 400px;
            span {
                width: 100%;
                text-align: center;
                margin-bottom: 10px;
            }

            img {
                width: 160px;
                height: 200px;
                object-fit: contain;
            }
        }
    }

    .idBox {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        border-radius: 0 0 8px 8px;

        &_lf,
        &_rt {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 35%;

            // height: 170px;
            .uploader_id {
                flex-basis: 100%;
            }

            .uploader_tip {
                padding: 10px 0;
            }
        }

        p {
            color: #909399;
        }

        .uploader_id {
            width: 100%;
            height: 150px;
            border: 1px dashed #ccccd8;

            :deep .ant-upload-select-picture-card {
                width: 100%;
                height: 100%;
            }

            img {
                height: 100%;
            }
        }

        p {
            width: 100%;
        }
    }

    .ant {
        &-form {
            flex-basis: 88%;
            background-color: #fafafa;
            padding: 40px 40px 20px 40px;
            border-radius: 2px;

            &.flex50 {
                display: flex;
                flex-wrap: wrap;
            }

        }

        &-row {
            flex-basis: 45%;
            margin: 0 0 22px 0;
            display: inline;

            &.ts {
                margin-right: 10%;
            }

            &.flexw100 {
                flex-basis: 100%;
            }

            &.btnrow {
                margin-right: 0;
                display: flex;
                justify-content: center;
                flex-basis: 100%;
                padding-top: 20px;
                text-align: center;
            }
        }
        &-input-number-group-wrapper {
            width: 100%;
        }
        &-form-item {}
    }
}

.uploader_msg {
    color: #909399;
    font-size: 12px;
}