$baseFontsize: 14px;
$baseHsize: 18px;
.detailBox {
    padding: 40px;

    h2 {
        font-size: $baseHsize;
        color: #606266;
        font-weight: bold;
        position: relative;
        margin-bottom: 30px;

        &:after {
            content: '';
            width: 40px;
            height: 6px;
            border-radius: 10px;
            background-color: #ff1a00;
            position: absolute;
            left: 0;
            bottom: -6px;
        }
        .editspan {
            color: red;
            font-size: 16px;
            font-weight: normal;
            cursor: pointer;
        }
    }

    &_div {
        margin: 30px;
    }

    &_desc {
        font-size: $baseFontsize;
        line-height: 26px;
        .rateInfo {
            margin: 5px 0 15px 0;
            text-indent: 2em;
        }
        .rateTxt {
            color: #303133;
            font-weight: bold;
        }
    }

    &_info {
        padding: 0 20px;
        border: 1px solid #e7e7e7;
        border-radius: 5px;

        h3 {
            font-size: 16px;
            line-height: 30px;
            position: relative;
            padding: 12px 15px;
            border-bottom: 1px solid #f6f6f6;

            &:before {
                content: '';
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: #ff532b;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        &_box {
            display: flex;
            flex-wrap: wrap;
            margin: 10px 0;
            padding: 0 20px;

            p {
                margin: 7px 0;
                font-size: $baseFontsize;

                span {
                    &:first-child {
                        color: #606266;
                    }

                    &:nth-child(2) {
                        color: #303133;
                    }
                }

                &.one {
                    flex-basis: 33.3%;
                }

                &.two {
                    flex-basis: 60%;

                }

                &.three {
                    flex-basis: 100%;

                }
            }
        }
        &_subbox {
            display: flex;
            flex-wrap: wrap;
        }

    }

    &_btn {
        text-align: center;
    }

    &_topbtn {
        position: relative;

        &:after {
            content: '';
            width: 100px;
            height: 100px;
            background-size: contain;
            background-position: top right;
            background-repeat: no-repeat;
            position: absolute;
            right: 0;
            top: 0;
        }

        &.dsh:after {
            background-image: url(../../assets/images/dsh.png);
        }

        &.dqd:after {
            background-image: url(../../assets/images/dqd.png);
        }

        &.jxz:after {
            background-image: url(../../assets/images/jxz.png);
        }

        &.dqr:after {
            background-image: url(../../assets/images/dqr.png);
        }

        &.ywc:after {
            background-image: url(../../assets/images/ywc.png);
        }

        &.yqx:after {
            background-image: url(../../assets/images/yqx.png);
        }
        &.wjs:after {
            background-image: url(../../assets/images/wjs.png);
        }
        &.yjs:after {
            background-image: url(../../assets/images/yjs.png);
        }
    }
}

.dataDialog {
    :deep .ant {
        &-modal {

        }
        &-form {
            &-item {
                &-label {
                    width: 120px;
                    label {
                        width: 120px;
                    }
                }
            }
        }
    }
}

