$baseFontsize: 14px;

.banlanceBox {
    margin: 20px 60px;

    &_list {
        display: flex;
        flex-wrap: wrap;
        // justify-content: space-between;
    }

    &_item {
        flex-basis: 31.3%;
        transition: all .3s linear;
        margin: 1%;
        background: url(../../assets/images/itembg.png), linear-gradient(-223.91deg, #fbfbfb 0%, #bea692 100%);

        background-size: cover;
        border-radius: 8px;

        h2 {
            padding: 10px 30px;
            font-size: 16px;
            border-bottom: 1px solid #f4f5f6;
            cursor: pointer;

            span {
                color: #6d6c6c;
                font-weight: bold;
                cursor: pointer;
            }
        }

        &:hover {
            box-shadow: 0px 0px 24px #5e5e5e30;
            background-color: #4d4d4d;
        }



        p {
            margin: 12px 0;
        }

        &_info {
            padding: 5px 30px;
            cursor: pointer;

            span {
                margin-right: 5px;
                font-size: $baseFontsize;

                &:nth-child(1),
                &:nth-child(2) {
                    color: #909399;
                }

                &:nth-child(3) {
                    color: #606266;
                }

                &.cur {
                    color: red;
                }
            }
        }

        &_opt {
            display: flex;
            justify-content: center;
            align-content: center;
            transition: all .5s linear;
            background-color: #dbd6d62e;

            span {
                font-weight: bold;
                flex-basis: 100%;
                padding: 8px 0;
                text-align: center;
                color: #909399;

                &.pointer {
                    cursor: pointer;
                    transition: all .3s linear;

                    &:hover {
                        background-color: #2b2b2b40;
                        color: #fff;
                    }

                }
            }
        }
    }

}


:deep .ant {
    &-radio {
        &-group {
            width: 100%;
        }

        &-wrapper {
            font-size: 16px;
            width: 100%;
        }
    }

    &-tabs {
        user-select: none;

        &-nav {
            &:before {
                border-color: red;
            }
        }

        &-tab {
            border-radius: 6px 6px 0 0 !important;
            padding: 10px 20px !important;
            margin: 0 6px 0 0 !important;
            width: 150px !important;
            box-sizing: border-box;
            text-align: center;
            justify-content: center;
            border-bottom-color: #ff0000 !important;

            &-active {
                background: #4d4d4d url(../../assets/images/tabbg.png) no-repeat 0 0 !important;
                background-size: cover !important;

                .ant-tabs-tab-btn {
                    color: #fff !important;

                }
            }

            &-btn {}
        }
    }

    &-modal-body {
        user-select: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .bind {
            &_info {
                position: relative;
                flex-basis: 100%;
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-between;
                margin-bottom: 20px;
                background-color: #ededed;
            }

            &_tip {
                flex-basis: 100%;
                text-align: center;
                color: #909399;

                .anticon {
                    margin-right: 5px;
                }
            }

            &_left {
                width: 340px;
                height: 220px;
                padding-right: 10px;

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }

            &_right {
                position: absolute;
                width: 200px;
                height: 220px;
                top: 0;
                padding: 20px 10px;
                box-sizing: border-box;
                bottom: 0;
                right: 0;
                background-color: rgba(255, 255, 255, 0.58);
                flex: 1;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-content: space-between;

                &_bind {
                    div {
                        flex-basis: 100%;
                        text-align: center;
                    }

                    &.ts {
                        align-content: center;
                    }
                }

                img {
                    flex: 1;
                    object-fit: cover;
                    width: 110px;
                    height: 110px;
                }

                .ant-radio-wrapper {
                    margin: 5px 0;
                }

                .rigist {
                    flex: 1;
                    line-height: 14px;
                    text-align: center;
                    cursor: pointer;
                    color: #606266;
                }

                &_btn {
                    flex-basis: 100%;
                    display: flex;
                    flex-wrap: nowrap;
                    justify-content: space-between;

                    .ant-btn {
                        font-size: 14px;
                    }
                }
            }

        }
    }
}